@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

h1,
h2,
h3 {
  color: #0f3057;
}

footer {
  margin: 10px;
  font-size: 20px;
}
@media (max-height: 500px) {
  footer {
    font-size: 10px;
  }
}

.App a {
  text-decoration: none;
  color: #0f3057;
  font-weight: bolder;
}

.App {
  border: 1.5px solid #0f3057;
  border-radius: 10px;
  padding: 50px 50px 70px 50px;
  max-width: 800px;
  background: linear-gradient(40deg, #00ad9f, turquoise, #f48024, #f48024);
  background-size: 1600px;
}

@media (max-height: 500px) {
  .App {
    background-size: 1000px;
  }
}

.weather-app-wrapper {
  font-family: poppins;
  max-width: 800px;
  margin: 20px auto 40px;
}
