form .form-control:focus {
  border-color: #0f3057;
  box-shadow: none;
}

.form-control {
  border: none;
  border: 1.5px solid #0f3057;
  border-radius: 4px;
}

.search-box {
  padding-right: 0;
  margin-left: auto;
}

.submit-box {
  padding-left: 0;
  margin-right: 50px;
}

.current-location-button {
  display: inline-block;
  color: white;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  border-radius: 30px;
  background-color: #0f3057;
  border: 1px solid transparent;
  padding: 8px 12px;
  font-size: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.current-location-button:hover {
  background-color: #00587a;
  border: 1px solid transparent;
  cursor: pointer;
}
