form {
  background-color: white;
  border: 1.5px solid #0f3057;
  border-radius: 4px;
}

@media (max-width: 768px) {
  form {
    width: 200px;
    height: 30px;
  }
}

form .form-control {
  border: none;
}

form .form-control:focus {
  outline: none;
}

@media (max-width: 768px) {
  form .form-control {
    height: 25px;
    font-size: 10px;
  }
}

.fontAwesomeIcon {
  color: #0f3057;
}

@media (max-width: 768px) {
  svg {
    max-width: 300%;
    height: auto;
  }
}

.submit-box {
  background-color: white;
  border: none;
  margin-left: 90px;
}

@media (max-width: 768px) {
  .submit-box {
    margin-left: 30px;
    background-color: none;
  }
}

.submit-box:hover {
  cursor: pointer;
}

.current-location-button {
  display: inline-block;
  color: white;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
  border-radius: 4px;
  background-color: #0f3057;
  border: 1px solid transparent;
  padding: 10px 15px;
  margin-left: 40px;
  font-size: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (max-width: 768px) {
  .current-location-button {
    font-size: 10px;
    padding: none;
  }
}

.current-location-button:hover {
  background-color: #00587a;
  border: 1px solid transparent;
  cursor: pointer;
}
