span.temperature {
  color: white;
  font-size: 70px;
  line-height: 64px;
  margin-left: 10px;
}

@media (max-width: 768px) {
  span.temperature {
    font-size: 50px;
  }
}

.unit {
  color: white;
  font-size: 25px;
  position: relative;
  top: -43px;
  margin-left: 5px;
}

@media (max-width: 768px) {
  .unit {
    font-size: 15px;
    top: -25px;
  }
}
