.weatherInfo h1 {
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.weatherInfo h2 {
  font-size: 20px;
  text-align: center;
  line-height: normal;
  font-weight: bolder;
}

.weatherInfo h3 {
  font-size: 30px;
}

span.float-left {
  margin-left: 35px;
}

.weatherInfo svg {
  display: inline-block;
}

.weatherInfo ul {
  padding: 0px;
  margin: 0px;
  margin-top: 30px;
}

.weatherInfo li {
  list-style: none;
  color: #0f3057;
  font-weight: bolder;
  margin: 0;
  padding: 0;
  line-height: 2;
}

.city {
  margin-top: 50px;
}

.weatherData {
  margin-top: 25px;
  margin-left: 50px;
  padding-left: 10px;
  padding-top: 10px;
}

.WeatherTemperature {
  display: inline-block;
}

span.weatherDescription {
  color: #0f3057;
  font-size: 23px;
  font-weight: bolder;
  text-align: center;
  margin-left: 60px;
}

.weatherDataDetail {
  margin-bottom: 50px;
  margin-left: 65px;
  padding-left: 10px;
}

.sunTime {
  text-align: center;
  color: #ff8c00;
  font-size: 17px;
  font-weight: bolder;
  margin-top: 30px;
  margin-left: 10px;
}

.sunrise {
  margin-right: 15px;
}

.weatherDescriptionDetail {
  margin-left: 80px;
}
