span.temperature {
  color: white;
  font-size: 80px;
  line-height: 64px;
  margin-left: 10px;
}

.unit {
  color: white;
  font-size: 25px;
  position: relative;
  top: -43px;
  margin-left: 5px;
}

.WeatherTemperature a {
  color: #0f3057;
}
