.weatherInfo h1 {
  font-size: 30px;
  font-weight: bolder;
  margin-left: 15px;
}

@media (max-height: 500px) {
  .weatherInfo h1 {
    font-size: 20px;
  }
}

.weatherInfo h2 {
  font-size: 20px;
  line-height: normal;
  font-weight: bolder;
  margin-top: 30px;
  margin-left: 15px;
}

@media (max-height: 500px) {
  .weatherInfo h2 {
    font-size: 15px;
  }
}

.weatherInfo h3 {
  font-size: 30px;
}

@media (max-height: 500px) {
  .weatherInfo h3 {
    font-size: 20px;
  }
}

span.float-left {
  margin-left: 5px;
}

@media (max-height: 500px) {
  .clearfix {
    max-width: 190%;
    height: auto;
  }
}

@media (max-height: 500px) {
  svg {
    max-width: 190%;
    height: auto;
  }
}

.weatherInfo ul {
  padding: 0px;
  margin: 0px;
  margin-top: 30px;
}

.weatherInfo li {
  list-style: none;
  color: #0f3057;
  font-weight: bolder;
  margin: 0;
  padding: 0;
  line-height: 2;
}

@media (max-height: 500px) {
  .weatherInfo li {
    font-size: 10px;
  }
}

.city {
  margin-top: 50px;
}

.weatherData {
  margin-top: 25px;
  padding-top: 10px;
}

.WeatherTemperature {
  display: inline-block;
}

span.weatherDescription {
  color: #0f3057;
  font-size: 23px;
  font-weight: bolder;
  text-align: center;
  margin-left: 60px;
}

@media (max-height: 500px) {
  span.weatherDescription {
    font-size: 15px;
  }
}

.weatherDataDetail {
  margin-bottom: 60px;
  padding-left: 10px;
}

.sunTime {
  text-align: center;
  color: #0f3057;
  font-size: 17px;
  font-weight: bolder;
  margin-top: 30px;
}

@media (max-height: 500px) {
  .sunTime {
    font-size: 10px;
  }
}

.sunrise {
  margin-right: 5px;
}

.weatherDescriptionDetail {
  margin-left: 60px;
}
